/.DS_Store  # MacOS file which is not needed in MDK
.build/ # Used to store the MDK build output
/.base/ # Used to store the MDK base project
.vscode/ # Used to save user preference
.project.json # Used to save last MDK deployment settings